* {
	margin: 0;
	padding: 0;
}

a {
	color: #000000;
}

a:hover {
	color: blue;
}

body,
html {
	width: 100%;
	height: 100%;
}

#header {
	width: 100%;
	height: 50px;
	background-color: red;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: blue;
}

#tip {
	padding-left: 72px;
	padding-top: 20px;
}


/* 上面部分是头部和尾部的内容 */


/* 下面部分为正文内容 */

#post_cointer {
	width: 100%;
	height: 800px;
}

.center {
	margin: 0 auto;
}

#post_cointer .post_area {
	clear: both;
	width: 600px;
	height: 100%;
}

#post_cointer .post_area textarea.form-control {
	height: 300px;
}

button.btn.btn-lg.btn-primary {
	position: absolute;
	left: 50%;
	margin-left: -40px;
}